{% extends 'learning_logs/base.html' %}

{% block content %}

  <p>Topic: {{ topics }}</p>
      <a href="{% url 'learning_logs:new_topic'%}">Add a new topic:</a>

  <ul>
    {% for topic in topics %}
       <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    {% endfor %}
  </ul>

  <p>Entries:</p>
  <ul>
    <p>
          <a href="{% url 'learning_logs:new_entry' topic.id %}">add a new entry:</a>
    </p>
  {% for entry in entries %}
    <>
      <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
      <p>{{ entry.text|linebreaks }}</p>
      <p>
          <a href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry:</a>
      </p>

    </li>
  {% endfor %}

  </ul>
{% endblock content %}